<div class="view" id="show">
<div class="frame">
<svg id="showart" viewBox='0 0 400 400' width='400' height='400' xmlns='http://www.w3.org/2000/svg'>
  <rect width='100%' height='100%' fill='<%= @painting.color4 %>'/>
    <path d='<%= @painting.coords3 %>z' stroke='<%= @painting.color1 %>' fill='<%= @painting.color1 %>'/>
    <path d='<%= @painting.coords2 %> z' stroke='<%= @painting.color2 %>' fill='<%= @painting.color2 %>'/>
    <path d='<%= @painting.coords1 %> z' stroke='<%= @painting.color3 %>' fill='<%= @painting.color3 %>'/></svg>
</div>
<h2><%= @painting.title %> by <%= @painting.artist %></h2>
<h3><%= @painting.points %> points</h3>
<canvas hidden></canvas>
<div class="download">
  <img width="0" height="0">
<a class="button" id="download" href="" download><i class="fas fa-cloud-download-alt"></i> Download Art</a>
</div>
</div>
<div>
<script>
w = window.innerWidth;
console.log(w);
if (w < 460) {
  var width = w - 60;
}
else {
  var width = 400;
}
document.getElementById("showart").style.width = width;
document.getElementById("showart").style.height = width;

var mySVG    = document.querySelector('svg'),      // Inline SVG element
    tgtImage = document.querySelector('img'),      // Where to draw the result
    can      = document.createElement('canvas'), // Not shown on page
    ctx      = can.getContext('2d'),
    loader   = new Image;                        // Not shown on page

loader.width  = can.width  = 1000;
loader.height = can.height = 1000;
loader.onload = function(){
  ctx.drawImage( loader, 0, 0, loader.width, loader.height );
  tgtImage.src = can.toDataURL();
  document.getElementById("download").href = can.toDataURL();
};
var svgAsXML = (new XMLSerializer).serializeToString( mySVG );
loader.src = 'data:image/svg+xml,' + encodeURIComponent( svgAsXML );

</script>
