<div class="studio">
<button id="makeart" onclick="newDiv()">Make art</button>
<div class="frame" id="art">
<%= image_tag "canvas.jpg" %>
</div>
<%= form_for(@painting) do |f| %>
<%= f.hidden_field :color1, :required => true %>
<%= f.hidden_field :color2, :required => true %>
<%= f.hidden_field :color3, :required => true %>
<%= f.hidden_field :color4, :required => true %>
<%= f.hidden_field :coords1, :required => true %>
<%= f.hidden_field :coords2, :required => true %>
<%= f.hidden_field :coords3, :required => true %>
<%= f.text_field :title, placeholder: "Title Your Painting", :required => true %><span class="by"> by </span>
<%= f.text_field :artist, placeholder: "Artist's Name", :required => true %><br>
<%= f.submit "Enter Exhibition" %>
<% end %>
</div>
