<!DOCTYPE html>
<html>
  <head>
    <title>Juried Show</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Juried Show">
    <meta property="og:description" content="Create randomly generated paintings and vote for your favorites.">
    <meta property="og:image" content="<%= asset_path 'art2.png' %>">
    <meta property="og:url" content="https://juriedshow.herokuapp.com/">
    <meta name="twitter:card" content="<%= asset_path 'art.png' %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Ramaraja|Trade+Winds" rel="stylesheet">
  </head>

  <body>
    <div class="buttons">
    <%= button_to "Make Art", root_path, method: :get %>
    <%= button_to "Gallery", paintings_path, method: :get %>
    <%= button_to "Top 10", top_path, method: :get %>
    <%= button_to "Vote", vote_path, method: :get %>
    </div>
    <div class="content">
    <%= yield %>
    <footer>&copy <a href="http://www.mwissig.com">Milo Wissig</a> 2019</footer>
  </div>
  </body>
</html>
